li {
  display: inline;
}

#sos {
  margin: auto;
  width: 50%;
  padding: 10px;
  text-align: center;
}

#mapa{
  margin: auto;
  width: 50%;
  padding: 10px;
  text-align: center;
}

#map {
  position: relative;
  border: 1px solid black;
  border-radius: 8px;
  height: 400px;
  width: 100%;
}

.centered-list {
  display: flex;
  justify-content: center;
}

